
body{
    background-size: cover;
}

canvas
{
    background-color: black;
}

#back
{
    float: right;
    background-color: aquamarine;
    font-size: 20px;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}


